body {
   background:url(./assets/header-img.jpg) no-repeat center center fixed;
   background-size: cover; 
   position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;   

  font-family: 'Montserrat', sans-serif;
	margin: 0;
	min-height: 100vh;     
}


* {
	box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}



#logo {
  height: 40px;
  width: 140px;
  z-index: 2;
}



.menu {
	margin-top: 5px;
}

#logo a,
.menu a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
} 

.menu a {
	color: #34495e;
	font-size: .99em;
}

.menu a:hover {
	color: #718daa;
}



.header {
	border: 1px solid #a2a2a2;
  background-color: #ffffff;
  opacity: .9;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;

}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.menu {
		display: flex;
	}
  
	.header {
		flex-direction: column;
		align-items: center;
    	/*.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}
*/
  }

}
  
/*menu*/
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/*hamburger menu */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/*menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, 
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px  Hamburger*/

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #search-icon {
    display: hidden;
  }
  #cart-icon {
    display: hidden;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .search-text {
    display: hidden;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #logo {
  position:absolute;
    top:10px; 
    left:10px;
}
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {...} */

