body {
   background:url(./assets/header-img.jpg) no-repeat center center fixed;
   background-size: cover; 
   position: fixed; 
   top: 0; 
   left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;   

  font-family: 'Montserrat', sans-serif;
	margin: 0;
	min-height: 100vh;     
}

.right-side {
  margin-left: 10%;

}

li {
  margin: 0 5px;
}
#cart-icon {
  margin-top: 1%;
}

#search-icon {
  margin-top: 1%;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    height: 100%;
    position: relative; /*parent div must be relative */
    margin: 0 auto;
}


.h1-jacket {
  color: #eee;
  text-align: center;
  position: absolute !important;
  font-size: 52px;
  text-shadow: 0.5px 0.5px #333;
  width: 100%;
  top: 50vh;
} /*responsive yes! */

.shop-here-text {
  text-align: center;
  color: #eee;
  font-size: 16px;
  text-shadow: 0.5px 0.5px #333;
  position: absolute;
  top: 62vh;
  width: 100%; /*responsive, yay!*/
}


* {
	box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}



#logo {
  height: 60px;
  width: 200px;
  z-index: 100;
}

#logo2 {
  height: 60px;
  width: 200px;

}

.menu {
	margin-top: 5px;
}

#logo a,
.menu a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
} 

.menu a {
	color: #34495e;
	font-size: .99em;
}

.menu a:hover {
	color: #718daa;
}



.header {
	border: 1px solid #a2a2a2;
  background-color: #ffffff;
  opacity: .9;
  width: 100%;
  max-width: 100%;
  top:0;
  z-index:10;
  position: absolute;
  margin:0;
  overflow:hidden;
}



.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  overflow: hidden;
}


  
/*menu*/
.header .menu {
  clear: both;
  max-height: 0;
  overflow: hidden;
  transition: max-height .2s ease-out;
}

/*hamburger menu */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/*menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, 
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px  Hamburger*/

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

}

/* Ujarak */
.button--ujarak {
	-webkit-transition: border-color 0.4s, color 0.4s;
	transition: border-color 0.4s, color 0.4s;
}
.button--ujarak::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #37474f;
	z-index: -1;
	opacity: 0;
	-webkit-transform: scale3d(0.7, 1, 1);
	transform: scale3d(0.7, 1, 1);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--ujarak.button--round-s::before {
	border-radius: 2px;
}
.button--ujarak.button--inverted::before {
	background: #7986CB;
}
.button--ujarak,
.button--ujarak::before {
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--ujarak:hover {
	color: #fff;
	border-color: #37474f;
}
.button--ujarak.button--inverted:hover {
	color: #37474F;
	border-color: #fff;
}
.button--ujarak:hover::before {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}


/* Common button styles */
.button {
	min-width: 150px;
	max-width: 250px;
	display: flex;
	margin: 1em;
	padding: 1em 2em;
	border: none;
	background-color: #eee;
	color: inherit;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
  top: 60vh;
  align-content: center;
  justify-content: center;
  cursor: pointer;
    
}
.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}

.box-bg-1 {
	padding: 4.5em 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
  z-index: 120;

}

/* ================================= 
  Media Queries
==================================== */


@media (min-width: 1281px) {
.right-side {
  margin-left: 90%;
}

.left-side {
 float: left;
}
}

@media (min-width: 769px) {
	.header,
	.menu {
		display: flex;
	}
  
	.header {
		flex-direction: column;
		align-items: center;
  }

  #logo {
    display:none;
  }

#search-text {
  display: none;
}

#cart-text {
  display: none;
}



.right-side {
  margin-left: 2%;
  width: 100%;
}
}



@media (min-width: 481px) and (max-width: 767px) {
    #search-icon {
    display: none;
  }

  #cart-icon {
    display: none;
  }

  #logo2 {
    display: none;
  }
}









  

